body {
  margin: 0px;
}

ul {
  /* margin-left: 50%; */
  list-style: none;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
}
li {
  color: white;
}

.name {
  display: flex;
  flex-direction: column;
}
.name p {
  font-size: xx-large;
  margin: 10px;
}

li:hover {
  transform: scale(1.5);
}
.menu button {
  cursor: pointer;
  background-color: black;
  border: none;
  color: white;
  width: 80px;
  height: 20px;
}
.HomePage {
  height: 100vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.menu {
  color: white;
  height: 5vh;
  background-color: black;
  opacity: 0.7;
  margin: 0px;
  padding: 0px 10px;
  display: flex;
  align-items: center;
  top: 0px;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  z-index: 2;
}

p {
  /* color: white; */
  /* font-style: italic; */
  font-size: large;
}
.sides {
  height: 90vh;
  display: flex;
  padding: 0px;
  margin: 0px;
}

.left {
  height: 100vh;
  background-color: rgb(26, 25, 25);
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.name {
  color: white;
  display: flex;
  justify-content: center;
}

.photo {
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
}

.photoHolder {
  position: relative;
  left: 50%;
}

.contact {
  color: white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
}
.right {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore {
  background-color: white;
  border: 1px solid;
  color: #000;
  margin-top: 30px;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}
.explore:hover {
  transform: scale(1.5);
  border: 1px solid;
  border-radius: 20px;
}
.menu button:hover {
  transform: scale(1.5);
  border-radius: 20px;
}
.menubar {
  display: flex;
  flex-direction: column;
}
.menubar button {
  width: 30px;
  background-color: #000;
  margin: 2px;
}

.SideBar {
  display: none;
  z-index: 3;
  background: black;
  color: white;
  height: 0;
  width: 30%;
  position: fixed;
  right: 0px;
  top: 0px;
}

.closeIcon {
  background-color: white;
  height: 30px;
}

.closeBtn {
  position: absolute;
  right: 0px;
}

.menuIcon {
  display: none;
}

.contactImg {
  height: 20px;
}
.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.ProjectPage {
  height: 100;
  width: 100%;
}
.proj {
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider {
  max-width: 100%;
  width: 100%;
  height: 37rem;
  margin: 0 auto;
  position: relative;

  /* IN THE END */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: -150px;
  width: 100%;
  height: 50rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background-color:rgb(26, 25, 25) ; */

  /* THIS creates the animation! */
  transition: transform 1s;
}

.hidden {
  display: none;
}

.slider__btn {
  position: absolute;
  top: 35%;
  z-index: 1;

  border: none;
  background: rgba(255, 255, 255);
  font-family: inherit;
  color: #0f0f0f;
  border-radius: 50%;
  height: 3%rem;
  width: 3%rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}



.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  border: none;
  background-color: rgb(0, 0, 0);
  opacity: 0.7;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
  transition: all 0.5s;

  /* Only necessary when overlying images */
  /* box-shadow: 0 0.6rem 1.5rem rgba(0, 0, 0, 0.7); */
}

.dots__dot:last-child {
  margin: 0;
}

.dots__dot--active {
  /* background-color: #fff; */
  background-color: #ada2a2;
  opacity: 1;
}
.descri {
  background-color: white;
  width: 80%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.imgs {
  width: 100%;
  height: 40%;
  display: flex;
  padding: 40%;
}
.slideCon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  margin: 0px;
  padding: 0px;
}

.pjex {
  margin-top: 10px;
  color: white;
  background-color: blue;
  border: none;
}
.abt {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.abt p {
  font-size: large;
  font-family: "Courier New", Courier, monospace;
}

.res {
  width: auto;
  padding: 10px;
  border: none;
}
.cnt {
  background-color: rgb(26, 25, 25);
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.cnt h2 {
  color: white;
}
.contact a {
  color: white;
  padding-bottom: 20%;
}

.msgForm input {
  width: 80%;
}
.msgForm textarea {
  width: 80%;
}

.skillImg {
  height: 30px;
}

.skillList li {
  transform: scale(1);
  color: #000;
  font-size: large;
  padding-bottom: 10px;
margin-left: -30px;  
  align-items: baseline;
  justify-content: baseline;
}

.skillList {
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: baseline;
}


.enlarge {
  transform: scale(1.5);
}
@media only screen and (max-width: 768px) {
  .photo {
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
  }
  .abt p {
    font-size: small;
  }
  .sides,
  .left,
  .right {
    height: 100vh;
  }
  p {
    font-size: small;
  }

  .menuIcon {
    display: flex;
    position: fixed;
    right: 5px;
    top: 5px;
  }

  .menu {
    display: none;
  }
  
.skillList {
  height: 80%;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  align-items: baseline;
  justify-content: baseline;
}

}

@media screen and (min-width: 768px) {
  .SideBar {
    display: none;
  }
}

.overlay {
  display: none;
  background-color: black;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100%;
  opacity: 0.5;
  z-index: 2;
}

.activator {
  display: block;
}

.noScroll {
  overflow: hidden;
}
